@using Microsoft.AspNetCore.Components.Web
@namespace BlazorMvcViewTest.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <base href="~/" />
</head>
<body>
    <h2>Index</h2>

    <p>Hello from our View Template!</p>

    <component type="typeof(Counter)" render-mode="ServerPrerendered" />

    <script src="_framework/blazor.server.js"></script>
</body>
</html>